@page
@using CogniSmiles.Models
@model CogniSmiles.Pages.Dashboard.EditPatient

@{
    ViewData["Title"] = "Edit Patient Record";
}

<h1>Edit Details of Patient : @Model.Patient.PatientCode</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Patient.Id" />
            <div class="form-group">
                <label asp-for="Patient.PatientCode" class="control-label"></label>
                <input asp-for="Patient.PatientCode" class="form-control" readonly="readonly" />
                <span asp-validation-for="Patient.PatientCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.SurgicalGuideWrittenDate" class="control-label"></label>
                <input asp-for="Patient.SurgicalGuideWrittenDate" class="form-control" />
                <span asp-validation-for="Patient.SurgicalGuideWrittenDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.ImplantSite" class="control-label"></label>
                <input asp-for="Patient.ImplantSite" class="form-control" />
                <span asp-validation-for="Patient.ImplantSite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.ImplantSystem" class="control-label"></label>
                <input asp-for="Patient.ImplantSystem" class="form-control" />
                <span asp-validation-for="Patient.ImplantSystem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.ImplantDiameter" class="control-label"></label>
                <input asp-for="Patient.ImplantDiameter" class="form-control" />
                <span asp-validation-for="Patient.ImplantDiameter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.InmplantLength" class="control-label"></label>
                <input asp-for="Patient.InmplantLength" class="form-control" />
                <span asp-validation-for="Patient.InmplantLength" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="Patient.PatientStatus" class="control-label"></label>
                <select asp-for="Patient.PatientStatus" class="form-control" asp-items="Html.GetEnumSelectList<PatientStatus>()"></select>
                <span asp-validation-for="Patient.PatientStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.Comments" class="control-label"></label>
                <textarea asp-for="Patient.Comments" class="form-control" ></textarea>
                <span asp-validation-for="Patient.Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Home">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
