@page
@using CogniSmiles.Models
@model CogniSmiles.Pages.Dashboard.NewPatientModel

@{
    ViewData["Title"] = "Add New Patient Record";
}

<h1>@ViewData["Title"]</h1>

<hr />
<form method="post">
    <table class="patient_table">
        <tr>
            <td colspan="2">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group">
                    <label asp-for="Patient.PatientCode" class="control-label"></label>
                    <input asp-for="Patient.PatientCode" class="form-control" />
                    <span asp-validation-for="Patient.PatientCode" class="text-danger"></span>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <label asp-for="Patient.SurgicalGuideReturnDate" class="control-label"></label>
                    <input asp-for="Patient.SurgicalGuideReturnDate" class="form-control" />
            <span asp-validation-for="Patient.SurgicalGuideReturnDate" class="text-danger"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group">
                    <label asp-for="Patient.ImplantSite" class="control-label"></label>
                    <input asp-for="Patient.ImplantSite" class="form-control" />
                    <span asp-validation-for="Patient.ImplantSite" class="text-danger"></span>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <label asp-for="Patient.ImplantSystem" class="control-label"></label>
                    <input asp-for="Patient.ImplantSystem" class="form-control" />
                    <span asp-validation-for="Patient.ImplantSystem" class="text-danger"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group">
                    <label asp-for="Patient.ImplantDiameter" class="control-label"></label>
            <input asp-for="Patient.ImplantDiameter" class="form-control" />
                    <span asp-validation-for="Patient.ImplantDiameter" class="text-danger"></span>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <label asp-for="Patient.ImplantLength" class="control-label"></label>
                    <input asp-for="Patient.ImplantLength" class="form-control" />
                    <span asp-validation-for="Patient.ImplantLength" class="text-danger"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="form-group">
                    <label asp-for="Patient.Comments" class="control-label"></label>
                    <textarea asp-for="Patient.Comments" class="form-control"></textarea>
                    <span asp-validation-for="Patient.Comments" class="text-danger"></span>
                </div>
            </td>
           
        </tr>
        <tr>
            <td>
                @if (Model.IsAdmin)
                {
                    <div class="form-group">
                        <label asp-for="Patient.PatientStatus" class="control-label"></label>
                        <select asp-for="Patient.PatientStatus" class="form-select" asp-items="Html.GetEnumSelectList<PatientStatus>()"></select>
                        <span asp-validation-for="Patient.PatientStatus" class="text-danger"></span>
                    </div>
                }
                else
                {
                    <input type="hidden" asp-for="Patient.PatientStatus" value="@PatientStatus.AwaitingPlanning" />
                }
            </td>
            <td>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary float-end" asp-page="Create" />
                </div>
            </td>            
        </tr>
        <tr>
            <td colspan="2">
                <div class="patient_links">
                    <a asp-page="./PatientComment" asp-route-id="Patient.Id">Dentist Comments </a>
                    <a asp-page="../FileManager/ManageFiles" asp-route-id="Patient.Id">View / Upload Files</a>
                    <a asp-page="./DeletePatient" asp-route-id="Patient.Id">Delete Patient</a>
                    <a asp-page="./Home">Back to List</a>
                </div>
            </td>
        </tr>
    </table>            
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
