html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.active{
    border-block-end-style:solid;
    border-block-color:burlywood;
    border-block-width:3px;
}
div td a, div a{
    text-decoration: none;
    color: rgb(214,72,52);
    border-block-end-style: solid;
    border-block-color:black;
}
.btn-secondary{
   background-color:red;
   border:none;
}
