html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.active{
    border-block-end-style:solid;
    border-block-color:burlywood;
    border-block-width:3px;
}
div td a, div a {
    text-decoration: none;
    color: #CE4D30;
    border-block-end-style: solid;
    border-block-color: black;
}
.btn-secondary {
    background-color: #CE4D30;
    border: none;
}
.site-logo{
    width:120px;
}
h1{
    font-size:25px;
    text-align:center;
    padding:10px;
}
table {
    margin: 10px auto 10px auto;
    display: block;
    position: relative;
}
.patientSearch {
    width: 800px;
}
    .patientSearch input[type=submit], .bulkAction input[type=submit] {
        height: 40px;
        border-radius: 0px;
        width: 150px;
        margin: 10px auto;
        display: block;
    }
.table-login {
    margin: 10px auto 10px auto;
    width: 400px;
    display: block;
    position: relative;
}
.signup_form,.tbl_files {
    margin: 10px auto;    
    width:800px;
   
}
    .signup_form td {
        padding-top:10px;
        width: 350px;
    }
        
        .table-login td h4, .signup_form td h4, .signup_form td h5 {
            color: #CE4D30;
            margin-top: 10px;
            margin-bottom: 20px;
            text-align: center;
        }
        .signup_form td div {
            margin-left:10px;
        }
        .signup_form td div label {
            font-weight: bold;
            color: #565553;
        }
            .signup_form td div input[type=submit], .add_cmts .form-group input[type=submit], .btn-paynow {
                margin-top: 20px;
                height: 40px;
                border-radius: 0px;
                width: 150px;
                font-weight: bold;
            }
                .signup_form td div input[type=submit]:hover, .add_cmts .form-group input[type=submit]:hover, .btn-paynow:hover {
                    background-color: white;
                    color: #0d6efd;
                }
            .table-login td div .form-control, .signup_form td div .form-control, .signup_form td div .form-select {
                border-color: #CE4D30;
                border-width: 2px;
                border-radius: 0px;
            }
.patient_links a, .dashboard_links a,.tbl_files tr td a {
    width: 150px;
    border-width: 1px !important;
    border-color: #CE4D30;
    text-align: center;
    border-style: solid;
    background-color: #CE4D30;
    color: white;
    display: block;
    margin-bottom: 5px;
    padding: 5px;
}
.dashboard_links input[type=submit] {
    width: 180px;
    border-width: 1px !important;
    border-color: #CE4D30;
    text-align: center;
    border-style: solid;
    background-color: #CE4D30;
    color: white;
    display: block;
    margin-bottom: 5px;
    padding: 5px;
    float: right;
    height: 40px;
}
    .dashboard_links input[type=submit]:hover {
        background-color: white;
        color: #CE4D30;
    }
    .patient_links a:hover, .dashboard_links a:hover, .tbl_files tr td a:hover {
        background-color: white;
        color: #CE4D30;
    }
div.dashboard_links{
    width:560px;
    display:block;
    margin:10px 0px;
    height:50px;
}
div.patient_links {
    margin-top: 10px;
    margin-bottom: 10px;
}
    div.patient_links a, div.dashboard_links a {
        position: relative;
        display: inline;
        margin-right: 5px;
        padding: 10px 20px;
    }
        div.patient_links a:last-child, div.dashboard_links a:last-child {
            border-color: #565553;
            background-color: #565553;
        }
            div.patient_links a:last-child:hover, div.dashboard_links a:last-child:hover {
                background-color: white;
                color: #565553;
            }
.patient_table, .table-login, .cmts_table, .tbl_upload {
    margin-left: auto;
    margin-right: auto;
}
    .patient_table td,.table-login td{
        width: 350px;
    }
    .patient_table td div label {
        color: #565553;
        font-weight:bold;
    }
.patient_table td div
{    
    margin-left:15px;
    margin-bottom:15px;
}
    .patient_table td div .form-control, .patient_table td div .form-select {
        border-color: #CE4D30;
        border-width: 2px;
        border-radius: 0px;
    }
.tbl_files tr th {
    color: #CE4D30;    
}

.tbl_files tr td, .tbl_files tr th {
    border: solid;
    border-color: #565553;
    border-width: 2px;
    padding: 10px;
}

.cmts_table, .tbl_upload {
    width: 800px;
}
    .cmts_table tr td, .add_cmts .form-group textarea {
        border: solid;
        border-color: #CE4D30;
        border-width: 2px;
        padding: 5px;
    }
    .cmts_table tr td.td_cmts
    {
        height:60px;        
        vertical-align:top;
        margin:12px;
    }
        .cmts_table tr td label, .add_cmts .form-group label {
            font-weight: bold;
            color: #565553
        }
.add_cmts{
    margin:10px auto;
    width:800px;
}
    .add_cmts .form-group:last-child{
       text-align:center;
    }
.tbl_upload tr td{
  padding:10px 0px;
  vertical-align:top;
}
    .tbl_upload tr td .control-label {
        font-weight: bold;
        color: #565553;
        margin-bottom:5px;
        margin-right:5px;
    }
.tbl_upload tr td[colspan="2"]
{
    text-align:center;
    vertical-align:central;
}
    .tbl_upload tr td.submit {
        text-align: center;     
        vertical-align:bottom;
    }
    .tbl_upload tr td input, .tbl_upload tr td textarea {
        border: 2px solid #CE4D30;
        border-radius: 0px;        
    }
.noFiles {
    border: 2px solid #CE4D30;
    text-align: center;
    color: #565553;
    padding: 5px;
}
@media (min-width: 300px) {
    .homePage_bg {
        background-image: url('../images/cognismiles_bg.jpg');
        background-size: contain;
        height: 200px;
        padding: 5px;
    }

    .homeButtons {
        padding: 5px;
        position: relative;
        float: right;
    }

        .homeButtons a, .sinusLift_bg a {
            margin-left: 15px;
            border-radius: 0px;
            font-size:12px;
        }

    .sinusLift_bg {
        background-image: url('../images/Plan_for_Perfection.jpeg');
        background-size: contain;
        width: 48%;
        height: 200px;
        padding: 15px;
        text-align: center;
        display: inline-block;
    }

    .sinusLift_course {
        position: relative;
        display: flex;
    }

    .sl_course {
        width: 48%;
        padding: 5px;
        text-align: center;
        display: inline-block;
        height: 200px;
        position: relative;
        font-size: 14px;
    }

        .sl_course .course_title {
            vertical-align: top;
            font-weight: bold;
        }

        .sl_course .course_desc {
            margin-top: 5px;
            text-align: center;
            height: 30px;
            padding: 10px;
            font-size: 10px;
            overflow: hidden;
        }

        .sl_course .course_btn {
            position: absolute;
            bottom: 0%;
            left: 22%;
        }

            .sl_course .course_btn a {
                background-color: #CE4D30;
                font-size: 12px;
                border: 0px;
                border-radius: 0px;
                margin-right: 5px;
                margin-top: 5px;
            }

                .sl_course .course_btn a:last-child {
                    background-color: #565553;
                }
}
@media (min-width: 800px) {
    .sl_course {
        font-size:18px !important;
    }

        .sl_course .course_desc {
        margin-top: 25px;
        text-align: center;
        height: 70px;
        padding: 10px;
        font-size: 20px;
        overflow:hidden;
    }
}
    @media (min-width: 1200px) {
        .homePage_bg {
            background-image: url('../images/cognismiles_bg.jpg');
            background-size: contain;
            height: 500px;
            padding: 15px;
        }

        .homeButtons {
            padding: 10px;
            position: relative;
            float: right;
        }

            .homeButtons a, .sinusLift_bg a {
                margin-left: 15px;
                border-radius: 0px;
                font-size: 16px;
            }

        .sinusLift_bg {
            background-image: url('../images/Plan_for_Perfection.png');
            background-size: contain;
            width: 31%;
            height: 500px;
            padding: 15px;
            text-align: center;
            display: inline-block;
        }

        .sinusLift_course {
            position: relative;
            display: flex;
        }

        .sl_course {
            width: 64%;
            padding: 15px;
            text-align: center;
            display: inline-block;
            height: 500px;
            position: relative;
        }

            .sl_course .course_title {
                font-size: 24px;
                vertical-align: top;
                font-weight: bold;
            }

            .sl_course .course_desc {
                margin-top: 25px;
                text-align: center;
                height: 220px;
                padding: 10px;
                font-size: 20px;
                overflow:visible;
            }

            .sl_course .course_btn {
                position: absolute;
                bottom: 10%;
                left: 32%;
            }

                .sl_course .course_btn a {
                    background-color: #CE4D30;
                    font-size: 16px;
                    border: 0px;
                    border-radius: 0px;
                    margin-right: 10px;
                }

                    .sl_course .course_btn a:last-child {
                        background-color: #565553;
                    }
    }

    .course {
        margin: 10px auto 10px auto;
        display: block;
        width: 800px;
        font-size: 16px;
    }

    .course_date {
        width: 600px;
    }

    .course tr td {
        height: 30px;
        border: 2px solid #CE4D30;
        padding: 5px;
        vertical-align: top;
    }

    .course_date tr td:first-child {
        width: 30%;
        font-weight: bold;
    }

    .course_date tr td:last-child {
        width: 70%;
    }

    .course_speakers tr td[colspan="2"] {
        border: 2px solid #CE4D30 !important;
    }

    .course_speakers tr td:first-child {
        width: 50%;
        border-right: none;
    }

    .course_speakers tr td:last-child {
        width: 50%;
        border-left: none;
    }

    .course_speakers .cs_header, .course_details tr td[colspan="2"] {
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        padding: 10px;
    }

    .speaker .name {
        display: block;
        font-weight: bold;
        font-size: 20px;
    }

    .d1-time, .d2-time {
        width: 15%;
    }

    .d1-topic, .d2-topic {
        width: 35%;
    }

    .btn-paynow {
        margin: 10px auto;
        display: block;
    }
