html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.active{
    border-block-end-style:solid;
    border-block-color:burlywood;
    border-block-width:3px;
}
div td a, div a {
    text-decoration: none;
    color: #CE4D30;
    border-block-end-style: solid;
    border-block-color: black;
}
.btn-secondary {
    background-color: #CE4D30;
    border: none;
}
.site-logo{
    width:120px;
}
h1{
    font-size:25px;
    text-align:center;
    padding:10px;
}
table {
    margin: 10px auto 10px auto;
    display: block;
    position: relative;
}
.patientSearch {
    width: 500px;
}
    .patientSearch input[type=submit] {
        
        height: 40px;
        border-radius: 0px;
        width: 150px;
        margin:10px auto;
        display:block;
    }
.table-login {
    margin: 10px auto 10px auto;
    width: 400px;
    display: block;
    position: relative;
}
.signup_form,.tbl_files {
    margin: 10px auto;    
    width:800px;
   
}
    .signup_form td {
        padding-top:10px;
        width: 350px;
    }
        
        .table-login td h4, .signup_form td h4, .signup_form td h5 {
            color: #CE4D30;
            margin-top: 10px;
            margin-bottom: 20px;
            text-align: center;
        }
        .signup_form td div {
            margin-left:10px;
        }
        .signup_form td div label {
            font-weight: bold;
            color: #565553;
        }
            .signup_form td div input[type=submit], .add_cmts .form-group input[type=submit] {
                margin-top: 20px;
                height: 40px;
                border-radius: 0px;
                width: 150px;
                font-weight: bold;
            }
                .signup_form td div input[type=submit]:hover, .add_cmts .form-group input[type=submit]:hover {
                    background-color: white;
                    color: #0d6efd;
                }
            .table-login td div .form-control, .signup_form td div .form-control, .signup_form td div .form-select {
                border-color: #CE4D30;
                border-width: 2px;
                border-radius: 0px;
            }
.patient_links a, .dashboard_links a,.tbl_files tr td a {
    width: 150px;
    border-width: 1px !important;
    border-color: #CE4D30;
    text-align: center;
    border-style: solid;
    background-color: #CE4D30;
    color: white;
    display: block;
    margin-bottom: 5px;
    padding: 5px;
}
    .patient_links a:hover, .dashboard_links a:hover, .tbl_files tr td a:hover {
        background-color: white;
        color: #CE4D30;
    }
div.dashboard_links{
    width:400px;
    display:block;
    margin:10px 0px;
    height:50px;
}
div.patient_links {
    margin-top: 10px;
    margin-bottom: 10px;
}
    div.patient_links a, div.dashboard_links a {
        position: relative;
        display: inline;
        margin-right: 5px;
        padding: 10px 20px;
    }
        div.patient_links a:last-child, div.dashboard_links a:last-child {
            border-color: #565553;
            background-color: #565553;
        }
            div.patient_links a:last-child:hover, div.dashboard_links a:last-child:hover {
                background-color: white;
                color: #565553;
            }
.patient_table, .table-login, .cmts_table, .tbl_upload {
    margin-left: auto;
    margin-right: auto;
}
    .patient_table td,.table-login td{
        width: 350px;
    }
    .patient_table td div label {
        color: #565553;
        font-weight:bold;
    }
.patient_table td div
{    
    margin-left:15px;
    margin-bottom:15px;
}
    .patient_table td div .form-control, .patient_table td div .form-select {
        border-color: #CE4D30;
        border-width: 2px;
        border-radius: 0px;
    }
.tbl_files tr th {
    color: #CE4D30;    
}

.tbl_files tr td, .tbl_files tr th {
    border: solid;
    border-color: #565553;
    border-width: 2px;
    padding: 10px;
}

.cmts_table, .tbl_upload {
    width: 800px;
}
    .cmts_table tr td, .add_cmts .form-group textarea {
        border: solid;
        border-color: #CE4D30;
        border-width: 2px;
        padding: 5px;
    }
    .cmts_table tr td.td_cmts
    {
        height:60px;        
        vertical-align:top;
        margin:12px;
    }
        .cmts_table tr td label, .add_cmts .form-group label {
            font-weight: bold;
            color: #565553
        }
.add_cmts{
    margin:10px auto;
    width:800px;
}
    .add_cmts .form-group:last-child{
       text-align:center;
    }
.tbl_upload tr td{
  padding:10px 0px;
  vertical-align:top;
}
    .tbl_upload tr td .control-label {
        font-weight: bold;
        color: #565553;
        margin-bottom:5px;
        margin-right:5px;
    }
.tbl_upload tr td[colspan="2"]
{
    text-align:center;
    vertical-align:central;
}
    .tbl_upload tr td.submit {
        text-align: center;     
        vertical-align:bottom;
    }
    .tbl_upload tr td input, .tbl_upload tr td textarea {
        border: 2px solid #CE4D30;
        border-radius: 0px;        
    }
.noFiles {
    border: 2px solid #CE4D30;
    text-align: center;
    color: #565553;
    padding: 5px;
}
.homePage_bg {
    background-image: url('../images/cognismiles_bg.jpg');
    background-size: contain;
    height: 600px;  
    padding:15px;
}
.homeButtons{
    padding:10px;
    position:relative;
    float:right;
}
.homeButtons a{
    margin-left:15px;
    border-radius:0px;
}