@page
@model CogniSmiles.Pages.Doctors.LoginModel

@{
    ViewData["Title"] = "Dentist Login";
}

<h1>Dentist Login</h1>
<hr />
<div class="row">
        <form method="post">
            <table class="table-login">
                <tr>
                    <td colspan="2" class="d-table-cell">
                        <h4> Login Details </h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label asp-for="DoctorLogin.UserName" class="control-label"></label>
                            <input asp-for="DoctorLogin.UserName" class="form-control" />
                            <span asp-validation-for="DoctorLogin.UserName" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                           <label class="col-form-label"> This is the user name you have set it up when registered with our website </label>
                            <a asp-page="../Doctors/ForgottenCredentials" asp-route-action="username"> Forgotten Username </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label asp-for="DoctorLogin.Password" class="control-label"></label>
                            <input asp-for="DoctorLogin.Password" class="form-control" type="password" />
                            <span asp-validation-for="DoctorLogin.Password" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label class="col-form-label"> Please provide password used when registered with our website  </label>
                            <a asp-page="../Doctors/ForgottenCredentials" asp-route-action="password"> Forgotten Password </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <div class="form-group">
                            <input type="submit" value="Login" class="btn btn-primary" />
                        </div>
                    </td>
                </tr>
                @if(ViewData["LoginError"] != null)
                {
                    <tr>
                        <td colspan="2" align="center">
                            <div class="form-group">
                                <label class="col-form-label"> @ViewData["LoginError"]?.ToString() </label>
                                @if (!Convert.ToBoolean(ViewData["LoginActive"]))
                                {
                                    <a asp-page="../Doctors/Activation" asp-route-id="@Model.DoctorLogin.DoctorId" class="btn-primary"> Get Activation Email </a>
                                }
                            </div>
                        </td>
                    </tr>
                }                
            </table>            
        </form>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
