@page
@model CogniSmiles.Pages.Courses.Course1Model
@{
    ViewData["Title"] = " Plan For Perfection: Digital Implant Planning for Guided Surgery";
}

<h1>@ViewData["Title"]</h1>
<table class="course course_date">
    <tr>
        <td>Date</td>
        <td>19th &amp; 20th January 2024</td>
    </tr>
    <tr>
        <td>Venue</td>
        <td>
            Smart Dental Care,
            Unit 5,Longstone Road,
            Manchester
            M22 5LB
        </td>
    </tr>
    <tr>
        <td>Course Fee</td>
        <td>&pound; 850.00</td>
    </tr>
</table>
<table class="course course_speakers">
    <tr>
        <td colspan="2" class="cs_header">Speaker</td>
    </tr>
    <tr>        
        <td class="speaker">
            <span class="name">
                Dr Aditya Dubagunta
            </span>
            <span class="qualifications">
                BDS, MSc Oral Pathology, MSC Dent Implantology, <br/>
                PgD Aesthetic Dentistry, PgC Restorative Dentistry, MBA-HCM
            </span>
        </td>
        <td class="speaker">
            <span class="name">
                About Speaker
            </span>
            <span class="qualifications">
                Dr Adi Dubagunta, besides owning a busy mixed practice in Newcastle-Upon-Tyne, has
                a great passion towards teaching. He currently mentors fellow dentists in placing dental
                implants and was a part time mentor at ICE, University of Salford, mentoring MSc implant
                students. Digital implant dentistry is the key to minimize any errors and place implants in an
                optimal desired position. He has been planning implant cases for other dental fraternity by
                himself across the UK and sourcing them the surgical guides for the past couple of years.
            </span>
        </td>
    </tr>
</table>
<table class="course course_details">
    <tr>
        <td colspan="2"> Day 1</td>
        <td colspan="2"> Day 2</td>
    </tr>
    <tr>
        <td class="d1-time">09:00 - 09:30</td>
        <td class="d1-topic">Registration</td>
        <td class="d2-time">09:00 - 10:00</td>
        <td class="d2-topic">Converting Digital wax ups printable .stl files </td>
    </tr>
    <tr>
        <td class="d1-time">09:30 - 10:30</td>
        <td class="d1-topic">Understanding the importance and clinical relevance or surgical guides</td>
        <td class="d2-time">10:00 - 11:00</td>
        <td class="d2-topic">Converting .stl files to printable models </td>

    </tr>
    <tr>
        <td class="d1-time">10:30 - 11:00</td>
        <td class="d1-topic">Coffee Break</td>
        <td class="d2-time">11:00 - 11:30</td>
        <td class="d2-topic">Coffee Break </td>
    </tr>
    <tr>
        <td class="d1-time">11:00 - 12:00</td>
        <td class="d1-topic">Digital Implant planning theory</td>
        <td class="d2-time" rowspan="2">11:30 - 13:00</td>
        <td class="d2-topic" rowspan="2">Guide design theory and hands on </td>
    </tr>
    <tr>        
        <td class="d1-time">12:00 - 13:00</td>
        <td class="d1-topic">Digital implant planning hands-on </td>
    </tr>
    <tr>
        <td class="d1-time">13:00 - 14:00</td>
        <td class="d1-topic">Lunch Break </td>
        <td class="d2-time">13:00 - 14:00</td>
        <td class="d2-topic">Lunch Break </td>
    </tr>
    <tr>
        <td class="d1-time">14:00 - 15:30</td>
        <td class="d1-topic">Digital extraction of teeth hands on </td>
        <td class="d2-time">14:00 - 15:30</td>
        <td class="d2-topic">Guide design hands on continued</td>
    </tr>
    <tr>
        <td class="d1-time">15:30 - 16:00</td>
        <td class="d1-topic">Coffee Break </td>
        <td class="d2-time">15:30 - 16:00</td>
        <td class="d2-topic">Coffee Break </td>
    </tr>
     <tr>
        <td class="d1-time">16:00 - 17:00</</td>
        <td class="d1-topic">Digital wax-ups single or multiple teeth</td>
        <td class="d2-time">16:00 - 17:00</</td>
        <td class="d2-topic">Stackable guides</td>
    </tr>
    <tr>
        <td colspan="4">
            Mentoring options available (excluded in the course fee). Mentoring at delegate’s practice or mentors’ practice. Charges apply. <br/>
            Additional Zoom Sessons about Maxillary sinus with an ENT Consultant will be avaialbe on request. <br/>
            For more information please contact <b>Miss Lisa Story</b> on 07984379669 or <b>Mr Andrew Barker</b> on 07717159877 or email to <a href="mailto:guides@cognismiles.com">guides@CogniSmiles.com</a>. <br />

           @* <form method="post">
                <button type="submit" class="btn-primary btn-paynow">Book Your Course</button>
            </form>*@
        </td>
    </tr>
</table>
