@page
@using CogniSmiles.Models;
@model CogniSmiles.Pages.FileManager.DownloadFileModel
@{
    ViewData["Title"] = "Download Files in Patient Record";
}
<h1> @ViewData["Title"] </h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="DownloadFile.FileType" class="control-label" />
                <input asp-for="DownloadFile.FileType" class="form-control" type="text" readonly="readonly" />                
            </div>
            <div class="form-group">
                <label asp-for="DownloadFile.FileName" class="control-label" />
                <input asp-for="DownloadFile.FileName" class="form-control" type="text" readonly="readonly" />
            </div>
            <div class="form-group">
                <label asp-for="DownloadFile.FilePath" class="control-label" />
                <input asp-for="DownloadFile.FilePath" class="form-control" type="text" readonly="readonly" />
            </div>
            <div class="form-group">
                <label asp-for="DownloadFile.DateUploaded" class="control-label" />
                <input asp-for="DownloadFile.DateUploaded" class="form-control" type="text" readonly="readonly" />
            </div>
            <div class="form-group">                
                <input type="submit" value="Download" class="btn btn-secondary" asp-page="DownloadFile" asp-page-handler="Download"/>
            </div>
        </form>
    </div>
</div>

