@page
@model CogniSmiles.Pages.Courses.PaymentStatusModel
@{
    ViewData["Title"] = "Payment Status for Plan For Perfection: Digital Implant Planning for Guided Surgery";
}
<h1>@ViewData["Title"]</h1>
<table class="course_date">
    @if(Model.PaymentStatus)
    {
        <tr>
            <td colspan="2">
                Payment Successful. You should receive notification from Stripe in next few mins. if not, please contact Cognismiles Team.
            </td>
        </tr>
    }
    else
    {
        <tr>
            <td colspan="2">
                Failed to caputre payment information. if you still wanted to pay for a course, please start again.
            </td>
        </tr>
    }

</table>
