@page
@model CogniSmiles.Pages.Courses.RegisterModel
@{
    ViewData["Title"] = "Plan for Perfection: A comprehensive hands-on Sinus Lift Course on Cadavers";
}

<div class="homePage_bg">
    
</div>

<h1>@ViewData["Title"]</h1>
<table class="course course_date">
    <tr>
        <td>Date</td>
        <td>13th &amp; 14th June 2024</td>
    </tr>
    <tr>
        <td>Venue</td>
        <td>
            University Hospitals Coventry and Warwickshire <br/>
            Clifford Bridge Road <br/>
            Coventry CV2 2DX
        </td>
    </tr>
    <tr>
        <td>Course Fee</td>
        <td>&pound; 2900.00</td>
    </tr>
</table>
<table class="course course_speakers">
    <tr>
        <td colspan="2" class="cs_header">Speakers</td>
    </tr>
    <tr>        
        <td class="speaker">
            <span class="name">
                Dr Aditya Dubagunta
            </span>
            <span class="qualifications">
                BDS, MSc Oral Pathology, MSC Dent Implantology, <br/>
                PgD Aesthetic Dentistry, PgC Restorative Dentistry, MBA-HCM, PTLLS, AQA
            </span>
        </td>
        <td class="speaker">
            <span class="name">
                Dr Darsha Boindala
            </span>
            <span class="qualifications">
                MBBS, BDS, MFDS, MSc
            </span>
        </td>        
    </tr>
    <tr>
        <td class="speaker">
            <span class="name">
                About Speaker
            </span>
            <span class="qualifications">
                Aditya is a busy practitioner currently working in two of his practices with dental Implants as mainstream. He also visits Cumbria for Implant Consultations and treatments. He is former mentor at ICE teaching MSc Students. Aditya is involved in teaching and mentoring Dental implants with an emphasis on digital implant planning.
            </span>
        </td>
        <td class="speaker">
            <span class="name">
                About Speaker
            </span>
            <span class="qualifications">
                Darshan  graduated in Dentistry in 1999 and has since trained in various Oral and Maxillofacial Surgery posts in the South East of England over a span of 9 years. He completed his medical training at Royal London and St Bartholomews School of Medicine and Dentistry in 2008.

                He has a special interest in Oral Surgery and dental implantology.
            </span>
        </td>
    </tr>
</table>
<table class="course course_details">
    <tr>
        <td colspan="2"> Day 1 - 13th June 2024</td>
        <td colspan="2"> Day 2 - 14th June 2024</td>
    </tr>
    <tr>
        <td class="d1-time">09:00 - 10:00</td>
        <td class="d1-topic">Introduction</td>
        <td class="d2-time" rowspan="2">09:00 - 10:30</td>
        <td class="d2-topic" rowspan="2">Cadaver demo on External sinus lift</td>
    </tr>
    <tr>
        <td class="d1-time">10:00 - 11:00</td>
        <td class="d1-topic">Sinus lift indications and contraindications-A medico-legal perspective</td>
    </tr>
    <tr>
        <td class="d1-time">11:00 - 11:30</td>
        <td class="d1-topic">Coffee Break</td>
        <td class="d2-time">10:30 - 11:00</td>
        <td class="d2-topic">Coffee Break </td>
    </tr>
    <tr>
        <td class="d1-time">11:30 - 13:00</td>
        <td class="d1-topic">Sinus Anatomy and ENT perspective</td>
        <td class="d2-time">11:00 - 13:00</td>
        <td class="d2-topic">Hands on </td>
    </tr>
    <tr>        
        <td class="d1-time">13:00 - 14:00</td>
        <td class="d1-topic">Lunch Break</td>
        <td class="d2-time">13:00 - 14:00</td>
        <td class="d2-topic">Lunch Break</td>
    </tr>
    <tr>
        <td class="d1-time">14:00 - 15:00</td>
        <td class="d1-topic">Hands on - Models with Magnetic Mallet and DBE kit </td>
        <td class="d2-time">14:00 - 15:00</td>
        <td class="d2-topic">Magnetic mallet (MM) Demo on cadaver heads</td>
    </tr>
    <tr>
        <td class="d1-time">15:00 - 15:30</td>
        <td class="d1-topic">Coffee Break </td>
        <td class="d2-time">15:00 - 16:00</td>
        <td class="d2-topic">MM Hands on  </td>
    </tr>
     <tr>
        <td class="d1-time">15:30 - 16:30</</td>
        <td class="d1-topic">Hands on Models continued</td>
        <td class="d2-time" rowspan="2">16:00 - 17:00</</td>
        <td class="d2-topic" rowspan="2">Case discussions</td>
    </tr>
    <tr>
        <td class="d1-time">16:30 - 17:30</td>
        <td class="d1-topic">Digital aspects </td>
    </tr>
    <tr>
        <td colspan="4">
            Mentoring options available (excluded in the course fee). Mentoring at delegate’s practice or mentors’ practice. Charges apply. <br/>
            For more information please contact <b>Miss Lisa Story</b> on 07984379669 or <b>Mr Andrew Barker</b> on 07717159877 or email to <a href="mailto:guides@cognismiles.com">guides@CogniSmiles.com</a>. <br />

            <form method="post">
                <button type="submit" class="btn-primary btn-paynow">Book Your Course</button>
            </form>
        </td>
    </tr>
</table>
