@page
@model CogniSmiles.Pages.Courses.RegisterModel
@{
    ViewData["Title"] = "Plan for Perfection: Sinus Lift Course with insight into digital concepts";
}

<h1>@ViewData["Title"]</h1>
<table class="course course_date">
    <tr>
        <td>Date</td>
        <td>19th &amp; 20th May 2023</td>
    </tr>
    <tr>
        <td>Venue</td>
        <td>Vivo Dental Lab, 15 Myddelton Rd, London, N8 7PY</td>
    </tr>
    <tr>
        <td>Course Fee</td>
        <td>&pound; 1650.00</td>
    </tr>
</table>
<table class="course course_speakers">
    <tr>
        <td colspan="2" class="cs_header">Speakers</td>
    </tr>
    <tr>
        <td class="speaker">
            <span class="name">
                Dr Darsha Boindala
            </span>
            <span class="qualifications">
                MBBS, BDS, MFDS, MSc
            </span>
        </td>
        <td class="speaker">
            <span class="name">
                Dr Aditya Dubagunta
            </span>
            <span class="qualifications">
                BDS, MSc Oral Pathology, MSC Dent Implantology, <br/>
                PgD Aesthetic Dentistry, PgC Restorative Dentistry, MBA-HCM
            </span>
        </td>
    </tr>
</table>
<table class="course course_details">
    <tr>
        <td colspan="2"> Day 1</td>
        <td colspan="2"> Day 2</td>
    </tr>
    <tr>
        <td class="d1-time">09:00 - 10:00</td>
        <td class="d1-topic">Introduction</td>
        <td class="d2-time" rowspan="2">09:00 - 10:30</td>
        <td class="d2-topic" rowspan="2">Internal sinus lift- Magnetic mallet and DBE kit on models </td>
    </tr>
    <tr>
        <td class="d1-time">10:00 - 11:00</td>
        <td class="d1-topic">Sinus lift indications and contraindications</td>        
    </tr>
    <tr>
        <td class="d1-time">11:00 - 11:30</td>
        <td class="d1-topic">Coffee Break</td>
        <td class="d2-time">10:30 - 11:00</td>
        <td class="d2-topic">Coffee Break </td>
    </tr>
    <tr>
        <td class="d1-time">11:30 - 13:00</td>
        <td class="d1-topic">Sinus Anatomy with ENT perspective</td>
        <td class="d2-time">11:00 - 13:00</td>
        <td class="d2-topic">External sinus lift- Hands on Eggs and Pigs heads </td>
    </tr>
    <tr>        
        <td class="d1-time">13:00 - 14:00</td>
        <td class="d1-topic">Lunch Break </td>
        <td class="d2-time">13:00 - 14:00</td>
        <td class="d2-topic">Lunch Break </td>
        
    </tr>
    <tr>
        <td class="d1-time">14:00 - 15:00</td>
        <td class="d1-topic">Sinus lift complications </td>
        <td class="d2-time" rowspan="4">14:00 - 17:00</td>
        <td class="d2-topic" rowspan="4">External sinus lift continuation</td>
    </tr>
    <tr>
        <td class="d1-time">15:00 - 15:30</td>
        <td class="d1-topic">Coffee Break </td>
    </tr>
    <tr>
        <td class="d1-time">15:30 - 16:30</td>
        <td class="d1-topic">Medico-legal issues </td>
    </tr>
     <tr>
        <td class="d1-time">16:30 - 17:30</</td>
        <td class="d1-topic">Digital aspects</td>
    </tr>
    <tr>
        <td colspan="4">
            Mentoring options available (excluded in the course fee). Mentoring at delegate’s practice or mentors’ practice. Charges apply. <br/>
            Additional Zoom Sessons about Mazillary sinus with an ENT Consultant will be avaialbe on request. <br/>
            For more information please contact <b>Miss Lisa Story</b> on 07984379669 or <b>Mr Andrew Barker</b> on 07717159877 or email to <a href="mailto:guides@cognismiles.com">guides@CogniSmiles.com</a>. <br />

            <form method="post">
                <button type="submit" class="btn-primary btn-paynow">Book Your Course</button>
            </form>
        </td>
    </tr>
</table>
