@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="homePage_bg">
  <div class="text-center homeButtons">
        <a class="btn btn-primary btn-lg" asp-page="/Doctors/SignUp">Dentist Sign Up</a>
        <a class="btn btn-secondary btn-lg" asp-page="/Doctors/Login">Dentist Login</a>
  </div>
</div>
<div class="sinusLift_course" style="display:none">
    <div class="sinusLift_bg">
      
    </div>
    <div class="sl_course">
        <span class="course_title">Plan for Perfection: Sinus Lift Course with an insight on digital concepts</span>
        <p class="course_desc">

            <b>Date:</b> 19th and 20th May 2023 <br /> <br/>

            <b>Venue:</b> Vivo Dental Lab, 15 Myddelton Rd,<br />

            London, N8 7PY <br /> <br />

            <b>Course fee:</b>  &pound;1650 <br /> <br />

            <b> Online booking is now Open </b>
        </p>
        <a class="btn btn-primary btn-lg" asp-page="/Courses/Register">More Details</a>
    </div>
</div>
  
