@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="homePage_bg">
  <div class="text-center homeButtons">
        <a class="btn btn-primary btn-lg" asp-page="/Doctors/SignUp">Dentist Sign Up</a>
        <a class="btn btn-secondary btn-lg" asp-page="/Doctors/Login">Dentist Login</a>
  </div>
</div>
<div class="sinusLift_course">
    <div class="sinusLift_bg">
      
    </div>
    <div class="sl_course">
        <span class="course_title">
            Plan For Perfection: Digital Implant Planning for Guided Surgery
        </span>
        <p class="course_desc">

            <b>Date:</b> 19th Jan 2024 & 20th Jan 2024 <br />
            <b>Number of attendees:</b> maximum 20 <br />
            <b>Fee:</b> £ 850.00 VAT included <br /> <br />

            <b>Venue:</b> Smart Dental Care, Unit 5,Longstone <br />

            Manchester M22 5LB <br /> <br />

            <b>Course fee:</b> &pound;850.00 <br /> <br />

            <b> Online booking now open </b>
        </p>
        <div class="course_btn">
            <a class="btn btn-primary btn-lg" asp-page="/Courses/Register" asp-page-handler="BookCourse">Book Your Course</a>
            <a class="btn btn-primary btn-lg" asp-page="/Courses/Register">More Details</a>
        </div>
    </div>
</div>
  
