@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="homePage_bg">
  <div class="text-center homeButtons">
        <a class="btn btn-primary btn-lg" asp-page="/Doctors/SignUp">Dentist Sign Up</a>
        <a class="btn btn-secondary btn-lg" asp-page="/Doctors/Login">Dentist Login</a>
    </div>
</div>
  
