<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="dotnet" arguments=".\CogniSmiles.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
			<security>
				<requestFiltering>
					<requestLimits
						maxAllowedContentLength="314572800"/> 
				</requestFiltering>
			</security>
		</system.webServer>
	</location>
	<configSections>
		<section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
	</configSections>

	<!-- PayPal SDK settings -->
	<paypal>
		<settings>
			<add name="mode" value="sandbox" />
			<add name="clientId" value="__CLIENT_ID__" />
			<add name="clientSecret" value="__CLIENT_SECRET__" />
		</settings>
	</paypal>
</configuration>